.containers {
  max-width: 650px;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-box {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #555;
  border-radius: 10px;
}

.quote-box p {
  color: #555;
  text-align: center;
}

.quote-button {
  padding: 10px 20px;
  border: none;
  background-color: #0051ff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-button:hover {
  background-color: #003ec4;
}
