body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contact-header {
  display: flex;
  align-items: center;
}

.contact-text h3 {
  margin-left: 20px;
  color: #000000;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}

.contact-info {
  margin-left: 20px;
}

.contact-info i {
  width: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #555;
}

.contact-label {
  display: inline-block;
  min-width: 50px; 
  margin-left: 10px;
}

.contact-item a {
  color: #3b5998;
  text-decoration: none;
  margin-left: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.more-inf {
  margin-top: 5px;
  text-align: center;
}

.caption {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 30px;
  margin-top: 20px;
  display: inline-block;
}

.favourites {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Tạo khoảng cách giữa các phần tử */
  justify-content: center;
  margin-top: 20px;
}

.favourite-label {
  flex: 1 1 calc(33.333% - 20px); /* Giảm đi khoảng cách để phù hợp với tổng chiều rộng của phần tử */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #856666;
  border-radius: 30px;
  width: 210px;
  display: inline-block;
}

.favourite a {
  color: inherit; /* Káº¿ thá»«a mÃ u chá»¯ tá»« pháº§n tá»­ cha */
}

.favourite:hover {
  color: #003ec4;
}

.images {
  width: 100px;
  height: 100px;
}

.chill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Phân phối đều các phần tử */
  text-align: center;
  margin-top: 20px;
}

.chill-label {
  flex: 1 1 calc(20% - 10px); /* Đảm bảo mỗi phần tử chiếm 1/3 chiều rộng cộng thêm khoảng cách */
  margin-bottom: 20px; /* Khoảng cách dưới các phần tử */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi chiều rộng của phần tử */
}

.chill-images {
  width: 100px;
  height: 130px;
  object-fit: cover;
}

/* CÃ¡c kiá»ƒu dÃ¡ng hiá»‡n cÃ³ */

.back {
  margin-top: 10px;
  text-align: center;
}

.back a {
  display: inline-block;
  padding: 7px 10px;
  background-color: #003ec4; /* MÃ u ná»n cá»§a nÃºt */
  color: #fff; /* MÃ u chá»¯ */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.back a:hover {
  background-color: #002a8b; /* MÃ u ná»n khi hover */
  color: #e6e6e6; /* MÃ u chá»¯ khi hover */
}

.listen {
  display: flex;
  justify-content: center; 
  align-items: center
  text-align: center;
  margin-top: 20px;
}

.spot {
  width: 500px;
  height: 300px;
  object-fit: contain; 
  margin-top: -50px;
}

.lyrics {
  margin-top: -50px;
}
