body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
/* PHẦN MENU CỦA HEADER */
.header {
  background-color: none;
  padding: 0;
  margin-top: 15px;
}

.header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .menu a {
  margin: 0 15px;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.header .menu a.active {
  font-weight: bold;
  color: #000000;
}

.header .menu a:hover {
  color: #000000;
}

/* PHẦN THÔNG TIN LIÊN HỆ */
.contact-header {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contact-text a {
  margin-left: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(60deg, #ea1717, #00b78c, #ca00b2);
  background-clip: text; /* Tiêu chuẩn, cho các trình duyệt hiện đại */
  -webkit-background-clip: text; /* Dành cho các trình duyệt WebKit cũ */
  color: transparent;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  object-fit: cover;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  margin-left: 20px;
}

.contact-info i {
  width: 15px;
}

.contact-item {
  display: flex;
  margin-top: 10px;
  color: #555;
}

.contact-label {
  display: inline-block;
  min-width: 50px;
  margin-left: 10px;
}

.contact-item a {
  color: #0051ff;
  text-decoration: none;
  margin-left: 5px;
}

.more-inf {
  margin-top: 20px;
  text-align: center;
}

.caption {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: inline-block;
}
/* PHẦN INDEX.HTML */
.favourites-container {
  position: relative;
  margin-top: 20px;
}

.fv-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0051ff;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.fv-button:hover {
  background-color: #003ec4;
  color: #fff;
}

.favourites {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Tạo khoảng cách giữa các phần tử */
  justify-content: center;
  margin-top: 20px;
  max-height: 0; /* Bắt đầu ẩn khung */
  overflow: hidden; /* Ẩn phần tử vượt quá */
  opacity: 0; /* Bắt đầu với độ mờ */
  transition: max-height 0.3s ease-out, opacity 0.9s ease-out; /* Thêm hiệu ứng chuyển đổi */
}

.favourites.show {
  max-height: 1000px; /* Chiều cao tối đa khi hiển thị, điều chỉnh tùy thuộc vào nội dung */
  opacity: 1; /* Hiển thị với độ mờ */
}

.favourite {
  margin-bottom: 20px;
}

.favourite-label {
  flex: 1 1 calc(33.333% - 20px); /* Giảm đi khoảng cách để phù hợp với tổng chiều rộng của phần tử */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #555;
  border-radius: 30px;
  width: 210px;
  display: inline-block;
}

.favourite a {
  color: inherit;
}

.favourite:hover {
  color: #003ec4;
}

.images {
  width: 100px;
  height: 100px;
}

#message {
  width: 100%;
  max-width: 100%; /* Đảm bảo form không bị rộng hơn màn hình */
  box-sizing: border-box; /* Bao gồm padding và border vào kích thước tổng cộng */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea.feedback {
  width: 100%;
  height: 100px;
  box-sizing: border-box; /* Bao gồm padding vào kích thước tổng cộng */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

textarea.feedback:focus {
  border-color: #9c9b9b;
  outline: none;
}

.send-button {
  display: block;
  width: 100%; /* nút gửi chiếm toàn bộ chiều rộng */
  padding: 0;
  margin-top: 5px;
  margin-bottom: -10px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #131313db;
  font-size: 16px;
  cursor: pointer;
}

.send-button:hover {
  color: #000000;
}

/* PHẦN GAME */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container video,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PHẦN ĐI DẠO CHILL */
.chill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Phân phối đều các phần tử */
  text-align: center;
  margin-top: 20px;
}

.chill-label {
  flex: 1 1 calc(20% - 10px); /* Đảm bảo mỗi phần tử chiếm 1/3 chiều rộng cộng thêm khoảng cách */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi chiều rộng của phần tử */
  margin-top: 10px;
}

.chill-images {
  width: 100px;
  height: 130px;
  object-fit: cover;
}

/* PHẦN NHẠC */
.listen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.spot {
  width: 100%;
  max-width: 500px; /* Giới hạn chiều rộng tối đa */
  height: auto; /* Đảm bảo tỷ lệ khung hình gốc */
  object-fit: contain;
}

.lyrics {
  margin-top: 20px;
}

.back {
  margin-top: 10px;
  text-align: center;
}

.back a {
  display: inline-block;
  padding: 7px 10px;
  background-color: #0051ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.back a:hover {
  background-color: #003ec4;
  color: #e6e6e6;
}
